@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  margin: 0;
  font-family: Nunito, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  background: blanchedalmond;
  color: rgba(11, 18, 19, 0.699);
}

h3 {
  font-size: 2rem;
  margin: 5px 0;
}
